/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

.title a {
	color: white;
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.dygraph-title {
	font-size: 25px;
}
.dygraph-xlabel {
	/*padding-top: 20px;*/
	font-size: 15px;
	font-weight: bold;
	height: 20px;
}

.dygraph-ylabel {
	font-size: 15px;
	font-weight: bold;
}

div.top_legend {
	display: block;
	width: 400px;
	margin: 5px auto 0px auto;
}

ul.top_legend_row {
	height: 15px;
	line-height: 14px;
	margin: 0px auto 8px auto;
	padding: 0px;
	list-style-type: none;
}

ul.top_legend_row li {
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	float: left;
	width: 100px;
}

li.period_offpeak, li.period_midpeak, li.period_onpeak {
	padding-left: 16px;
	margin-right: 15px;
}

li.period_offpeak {
	background: url('../images/offpeak_legend_sq.gif') left no-repeat;
}

li.period_midpeak {
	background: url('../images/midpeak_legend_sq.gif') left no-repeat;
}

li.period_onpeak {
	background: url('../images/onpeak_legend_sq.gif') left no-repeat;
}

li.plot_line {
	background: url('../images/plot_line_seg.gif') left no-repeat;
	padding-left: 30px;
	text-align: left;
	width: 50px;
}

#sbg_tou_chart li.plot_line {
	width: 200px;
	margin-left: 90px;
}

li.coal_line {
	background: url('../images/coal_line_seg.gif') left no-repeat;
}

li.gas_line {
	background: url('../images/gas_line_seg.gif') left no-repeat;
}

li.hydro_line {
	background: url('../images/hydro_line_seg.gif') left no-repeat;
}

li.nuclear_line {
	background: url('../images/nuclear_line_seg.gif') left no-repeat;
}

li.other_line {
	background: url('../images/other_line_seg.gif') left no-repeat;
}

li.wind_line {
	background: url('../images/wind_line_seg.gif') left no-repeat;
}

li.coal_line_nodot {
	background: url('../images/coal_line_seg_nodot.gif') left no-repeat;
}

li.gas_line_nodot {
	background: url('../images/gas_line_seg_nodot.gif') left no-repeat;
}

li.hydro_line_nodot {
	background: url('../images/hydro_line_seg_nodot.gif') left no-repeat;
}

li.nuclear_line_nodot {
	background: url('../images/nuclear_line_seg_nodot.gif') left no-repeat;
}

li.other_line_nodot {
	background: url('../images/other_line_seg_nodot.gif') left no-repeat;
}

li.wind_line_nodot {
	background: url('../images/wind_line_seg_nodot.gif') left no-repeat;
}

li.coal_sq {
	background: url('../images/coal_sq.gif') left no-repeat;
}

li.gas_sq {
	background: url('../images/gas_sq.gif') left no-repeat;
}

li.hydro_sq {
	background: url('../images/hydro_sq.gif') left no-repeat;
}

li.nuclear_sq {
	background: url('../images/nuclear_sq.gif') left no-repeat;
}

li.other_sq {
	background: url('../images/other_sq.gif') left no-repeat;
}

li.wind_sq {
	background: url('../images/wind_sq.gif') left no-repeat;
}
#ui-datepicker-div {
	z-index: 11 !important;
}
path#OVERSUPPLY-path, rect#OVERSUPPLY-legend {
	stroke: #7e7e7e;
	stroke-width: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 65%;
    }

    .main aside {
        float: right;
        width: 20%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        /*width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}